<section class="main-header">
  <section class="header-left">
    <h1>Black Arts Boston</h1>
    <h2>a mil·len·nial market</h2>
  </section>

  <section class="header-right profile-header-right">
    <nav>
      <a href="/">Home</a>
      <a href="/artistCollection">Artists</a>
      <a href="/productCollection">Products</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
    </nav>
  </section>
</section>
