<header>
  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Get Involved</a>
    <a href="#">Contact</a>
  </nav>
  <h1>Black Arts Boston<br><span>a mil·len·nial market</span></h1>
</header>
