<header>
  <nav>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    <a href="/">Home</a>
    <a href="/profile">My Profile</a>
    <a href="/artistCollection">Artists</a>
    <a href="/productCollection">Products</a>
  </nav>
  <h1>Black Arts Boston<br><span>a mil·len·nial market</span></h1>
</header>
