<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%include ./partials/head%>
  </head>
  <body>
    <header>
      <%include ./partials/header%>
    </header>
    <section class="product-container">

    </section>
    <footer> <%include ./partials/footer%></footer>

  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
