<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  </head>
  <body class="body2">
    <section class="main">
      <section class="artist">
        <img class="prof" src="../img/usr.png" alt="">
        <h1 class="name">Artist Name</h1>
      </section>
      <section class="about">
        <span>About:</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
      <section class="galler">
        <h2>Gallery:</h2>
        <section class="gal"></section>
        <section class="gal"></section>
        <section class="gal"></section>
      </section>
    </section>
  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
