<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Get Involved</a>
        <a href="#">Contact</a>
      </nav>
      <h1>Black Arts Boston<br><span>a mil·len·nial market</span></h1>
    </header>
    <section class="container">
      <section class="hero">

      </section>
      <section class="featured">
        <section class="feat feat1"></section>
        <section class="feat feat2"></section>
        <section class="feat feat3"></section>
        <a href=/artist> <h2>Featured Artists</h2></a>
      </section>
      <section class="release">
        <section class="real real1"></section>
        <section class="real real2"></section>
        <section class="real real3"></section>
        <a href=/product><h2>New Releases</h2></a>
      </section>
    </section>
    <footer></footer>

  <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
