<!doctype html>
<html>
<head>
    <%include ./partials/head%>
</head>
<body>

    <div class="login-container">
      <section class="login-left"></section>
      <section class="login-right">

        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <!-- LOGIN FORM -->
          <form action="/login" method="post">
            <div class="form-group">
              <h1 class="login-title"><span></span> Login</h1>
              <input type="text" class="form-control" name="email" placeholder="Email">
              <input type="password" class="form-control" name="password" placeholder="Password">
              <button type="submit" class="btn">Login</button>
            </div>
          </form>

          <section class="login-text">
            <p class="login-p">Need an account? <a href="/signup">Signup</a></p>
            <p class="login-p">Or go <a href="/">home</a>.</p>
          </section>

        </div>
  </section>
</body>
</html>
