<!doctype html>
<html>
<head>
    <%include ./partials/head%>
</head>
<body>

    <div class="signup-container">
      <section class="signup-left"></section>
      <section class="signup-right">

        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <!-- LOGIN FORM -->
          <form action="/signup" method="post">
            <div class="form-group">
              <h1 class="signup-title"><span></span> Signup</h1>
              <input type="text" class="form-control" name="email" placeholder="Email">
              <input type="password" class="form-control" name="password" placeholder="Password">
              <button type="submit" class="btn">Signup</button>
            </div>
          </form>
          
          <section class="signup-text">
            <p class="signup-p">Already have an account? <a href="/login">Login</a></p>
            <p class="signup-p">Or go <a href="/">home</a>.</p>
          </section>

        </div>
  </section>
</body>
</html>
