/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: aliceblue;
  font-family: 'Rajdhani', sans-serif;
}
header{
  height: 16vh;
  background: white;
  text-align: right;
  width: 100%;
}
footer{
  clear:both;
  height: 10vh;
  background: white;
  padding-top: 1%;
  padding-left: .3%;
}
footer span{
  font-size: 15px;
}
h1, span{
  text-align: center;
  margin-top: 0;
}
span{
  font-size: 20px;
}
h2{
  margin-top: 1%;
}
/******************************************
/* INDEX (HOME PAGE) STYLES
/*******************************************/

.container{
  height: 200vh;
  background: aliceblue;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr;
  grid-row-gap: 1px;
  grid-template-areas:
    "hero"
    "featured"
    "release"
}
.hero{
  grid-area: hero;
  background-color: white;
  background-image: url("../img/fist.jpg");
  background-size: 450px 430px;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
.featured{
  margin-top: 2%;
  grid-area: featured;
  background: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-around;
  grid-template-areas:
    "feat1 feat2 feat3"
}
.release{
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-around;
  grid-template-areas:
    "real1 real2 real3"
  grid-area: release;
  background: white;
}
.feat, .real{
  margin-left: 15%;
  margin-top: 20px;
  height: 300px;
  width: 300px;
}
.feat img, .real img{
  height: 300px;
  width: 300px;
}
.feat-span{
  grid-area: span;
}
.prod-img{
  height: 300px;
  width: 300px;
}

/******************************************
/* PRODUCT PAGE (product.ejs)
/*******************************************/

.prodpage{
  background: aliceblue;
}
.wrapper{
  height: 100vh;
  background: aliceblue;
  width: 100%;
}
.product{
  background: white;
  height: 55vh;
  width: 35%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%;
  float: left;
  margin-right: 2%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  /* border: 1px solid black; */
}
.product span{
  display: block;
}
.details{
  background: aliceblue;
  height: 55vh;
  width: 45%;
  display: inline-block;
  float: left;
  /* border: 1px solid black; */
  margin-left: 7%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 18px;
}
.related{
  height: 45vh;
  width: 100%;
  float: left;
  padding-left: 3%;
}
.related-products{
  padding-right: 3%;
  height: 1vh;
  font-size: 18px;
  text-align: center;
}
.prod1{
  height: 35vh;
  width: 20%;
  margin: 2%;
  float: left;
  background: white;
}

/******************************************
/* ARTIST PROFILE PAGE
/*******************************************/

.main{
  background: white;
  margin-top: 1%;
}
.name{
  font-size: 30px;
}
.prof{
  height: 300px;
  margin-left: 37%;
  margin-bottom: 15px;
  border-radius: 50%;
}
img.prof{
  margin-top: 1%;
}
.about{
  border: 2px solid aliceblue;
  background: aliceblue;
  padding-top: 10px;
}
.galler{
  margin-bottom: 1%;
}
.gal{
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 2px solid green;
  margin-left: 5%;
}


/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* USER PROFILE (profile.ejs)
/*******************************************/
.profile-information{
  width:100%;
  height: 72vh;
  background: aliceblue;
}
.profile-picture{
  padding-top: 1%;
  width: 39%;
  float:left;
  height: 72vh;
  background: aliceblue;
}
#profileImg{
  height: 200px;
  width: 70%;
  border-radius: 50%;
  margin-left: 18%;
}
.pro-image{
  float:left;
  width: 70%;
}
.upload-picture{
  float:left;
  width: 30%;
}
.bio-info{
  width: 100%;
  float: left;
  margin-left:18%;
}
.bio-info .bio-info-label2, .bio-info-input2{
  display: block;
}
.first-bio{
  padding-top:5%;
  border-bottom: 1px solid black;
  padding-bottom: 3%;
  margin-right: 60%;
}
.bio-info .bio-info-label2{
  margin-top:1%;
}
.bio-info .bio-info-input2{
padding: 6%;
margin-bottom: 2%;
}
.choose-file{
  display:block;
  margin-bottom: 5%;
  margin-top:121%;
}
.upload{
  display: block;
}
.profile-username{
  width:46%;
  /* border:1px solid black; */
  float:left;
  height: 70vh;
  margin-left:15%;
  background: aliceblue;
}
.user-label{
  margin-bottom: 1.5%;
}
.bio-section{
  margin-top: 3%;
  border-top: 1px solid black;
  margin-right: 59%;
}

/******************************************
/* PRODUCT UPLOAD PAGE
/*******************************************/
.upload-wrapper{
  height: 80vh;
  width:100%;
  float:left;
  border:1px solid black;
}
/******************************************
/* ARTIST COLLECTION PAGE STYLES
/*******************************************/
.collection-title{
  margin-top: 5px;
}
.artist-grid, .product-grid{
  padding-left: 9%;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
    " img1 img2 img3"
    " img4 img5 img6"
    " img7 img8 img9"
}
.artist-page-link{
  background: red;
  border: 1px solid black;
  height: 30vh;
  width: 70%;
}

.artist-page-link img, .product-page-link img, .gal img{
  height: 300px;
  width: 300px;
}
/* MOBILE */
@media only screen and (max-width: 768px){

}
@media (min-width: 769px) and (max-width: 1024px){

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
